APP_NAME=HackForge
APP_VERSION=0.1.0
DEBUG=
SECRET_KEY=
DATABASE_URL=

JWT_ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=

ALLOWED_ORIGINS=

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=