html,
body,
#root{

height:100%;

}

body{

margin:0;

background:var(--background);

font-family:'Inter',sans-serif;

color:var(--on-surface);

overflow:hidden;

text-rendering:optimizeLegibility;

-webkit-font-smoothing:antialiased;

}

*{

box-sizing:border-box;

}

button{

font-family:inherit;

}

input,
textarea,
select{

font-family:inherit;

outline:none;

}

a{

text-decoration:none;

color:inherit;

}