:root{

/* ===========================
   COLORS
=========================== */

--background:#fbf8ff;
--surface:#fbf8ff;
--surface-dim:#d4d7ff;
--surface-bright:#fbf8ff;

--surface-container-lowest:#ffffff;
--surface-container-low:#f4f2ff;
--surface-container:#edecff;
--surface-container-high:#e5e6ff;
--surface-container-highest:#dee0ff;

--surface-variant:#dee0ff;

--primary:#130225;
--primary-container:#2b193d;
--primary-fixed:#f0dbff;
--primary-fixed-dim:#d6bdeb;

--secondary:#824889;
--secondary-container:#f9b5fe;

--tertiary:#00062d;
--tertiary-container:#001864;

--error:#ba1a1a;
--error-container:#ffdad6;

--outline:#7b757e;
--outline-variant:#ccc4ce;

--on-background:#0e1647;
--on-surface:#0e1647;
--on-surface-variant:#4a454d;

--on-primary:#ffffff;
--on-primary-container:#9680ab;

--on-secondary:#ffffff;
--on-secondary-container:#794080;

--inverse-surface:#242c5d;
--inverse-primary:#d6bdeb;

--shadow:0 10px 40px rgba(0,0,0,.08);

--glass:
rgba(255,255,255,.70);

--glass-border:
rgba(38,46,95,.08);

}